[submodule "tools/frame-interpolation"]
	path = tools/frame-interpolation
	url = https://github.com/google-research/frame-interpolation.git
[submodule "tools/longcat-video"]
	path = tools/longcat-video
	url = https://github.com/meituan-longcat/LongCat-Video.git
